<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="footer.css">
</head>
<body>
    <div class="footer">
        Remember it ? <a class="signup" href="/">  Sign in</a><br><br><br>

    </div>
</body>
</html>