<%- include("headerchat.ejs") %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.js" integrity="sha512-VJ6+sp2E5rFQk05caiXXzQd1wBABpjEj1r5kMiLmGAAgwPItw1YpqsCCBtq8Yr1x6C49/mTpRdXtq8O2RcZhlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    
    <div class="Chat-index">
        <header>
        <h2 class="Profile-heading">Chats</h2><br>
        <div class="search-bar">
            <i class="bi bi-search"></i>
            <input type="text" name="new-contact" class="form-control" placeholder="Search users">
        </div>
        <h4 class="Profile-heading">Recent</h4>
    <hr> 
</header>
<div class="chatting-users">
    <!-- Example box for a user -->

    <div class="user-box">
        <div class="user-profile-pic">
            <img src="profilepic.png" alt="Profile Picture">
        </div>
        <div class="user-info">
            <div class="user-name">John Doe</div>
            <div class="last-chat">Hello there!</div>
        </div>
    </div>

    <div class="user-box">
        <div class="user-profile-pic">
            <img src="profilepic.png" alt="Profile Picture">
        </div>
        <div class="user-info">
            <div class="user-name">John Doe</div>
            <div class="last-chat">Hello there!</div>
        </div>
    </div>
    <div class="user-box">
        <div class="user-profile-pic">
            <img src="profilepic.png" alt="Profile Picture">
        </div>
        <div class="user-info">
            <div class="user-name">John Doe</div>
            <div class="last-chat">Hello there!</div>
        </div>
    </div>
    <div class="user-box">
        <div class="user-profile-pic">
            <img src="profilepic.png" alt="Profile Picture">
        </div>
        <div class="user-info">
            <div class="user-name">John Doe</div>
            <div class="last-chat">Hello there!</div>
        </div>
    </div>   
</div>
</div>
<div class="chat-area">
    <div class="chat-icon-container">
        <i class="bi bi-chat-left-fill chat-icon"></i>
    </div>
    <h1>Start Conversation</h1>
</div>
<script>


var socket = io('/user-namespace');

    // Function to handle user-box click event
    function handleUserBoxClick() {
        // Remove the chat-area div
        document.querySelector('.chat-area').remove();
        
        // Redirect to the main chat page
        window.location.href = '/chat.ejs'; // Replace '/chat.ejs' with the actual URL of your chat page
    }

    // Add click event listener to all user-box elements
    var userBoxes = document.querySelectorAll('.user-box');
    userBoxes.forEach(function(userBox) {
        userBox.addEventListener('click', handleUserBoxClick);
    });
</script>

</body>
</html>
       
   
            
  
