<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Chat App</title>
    <link rel="stylesheet" href="homepage.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div id="chat-container">
        <div id="sidebar">
            <a href="profile.ejs" class="icon"><i class="bi bi-person-fill"></i></a>
            <a href="chat.ejs" class="icon"> <i class="bi bi-chat-right-text-fill"></i> </a>
            <a href="group.ejs" class="icon"><i class="bi bi-people-fill"></i></a>
            <a href="contacts.ejs" class="icon"><i class="bi bi-person-lines-fill"></i></a>
            <a href="setting.ejs" class="icon"><i class="bi bi-gear-fill"></i></a>
            <a href="logout.ejs" class="icon"><i class="bi bi-box-arrow-right"></i></a>
        </div>
      
            
  
