body{
    background-color: #f0edf5;
}
.area{
    width: 400px;
    height: 450px;
    margin: auto; /* This centers the box horizontally */
    display: flex;
    background-color:white;
    /* justify-content: center; */
   padding: 30px;
   border-radius: 4px;

}
.form-control{
    background-color: hsl(260, 8%, 86%);
}
label{
    font-family: 'Times New Roman', Times, serif;
}
.labelPassword{
    margin-right: 100px;
}

.form-control{
    border: 2px solid rgb(153, 151, 151);
    border-radius: 4px;
    width: 130%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-bottom: 30px;
    box-sizing: border-box;
  }
.a{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(67, 65, 65);
    font-size: large;
}
.remember{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Style the checkbox */
.checkbox {
    width: 15px;
    height: 15px;
    border: 2px solid #333; /* Border color */
    border-radius: 4px;
    outline: none;
    margin-top: 10px;
  }

.signin-button{
    margin-top: 20px;
    width: 130%;
    height:40px;
    color: white;
    border-radius: 4px;
    border: none;
    font-size: large;
    background-color: rgb(157, 120, 231);
}  

.forgotpassword  {
    width:150px;
    text-decoration: none; /* Remove underline */
    color: grey; /* Set the text color to grey */
    
  }